n8n/backup/workflows/8zgNzsdsdGnftZM6.json
{
  "name": "AI Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaa41367-a94d-417d-9e0b-784121f32ee0",
              "name": "userid",
              "value": "16178790",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        -180
      ],
      "id": "b25544b6-ffcf-45cd-9e7b-b3a25f89f84b",
      "name": "Set Zotero-UserID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd432d3-5beb-4697-a9b8-6ad59782ad26",
              "name": "pdfKey",
              "value": "={{ $json.key }}",
              "type": "string"
            },
            {
              "id": "430a02c2-5e87-45da-8e53-5744c53bd26e",
              "name": "metadata",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        -180
      ],
      "id": "0f6f2461-1e5f-4012-88f6-f753e091b3f9",
      "name": "Get 'Key'",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "=https://api.zotero.org/users/{{ $json.userid }}/items?format=json&itemType=attachment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        -180
      ],
      "id": "64641565-c120-458f-889b-668b20a72317",
      "name": "Load Items in Zotero",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VS05UkCk2v7KvUAC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        -180
      ],
      "id": "4985e9d2-fb7d-437d-aefe-5dc1956c2899",
      "name": "Extract Text from File"
    },
    {
      "parameters": {
        "url": "=https://api.zotero.org/users/{{ $('Set Zotero-UserID').item.json.userid }}/items/{{ $json.pdfKey }}/file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -180
      ],
      "id": "f527da07-55f9-4ccd-a204-b7126295e584",
      "name": "Get Items from Zotero",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VS05UkCk2v7KvUAC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2240,
        -180
      ],
      "id": "8f12a4b0-8510-47fe-84db-3d8fcb593d62",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2180,
        120
      ],
      "id": "8f4b191e-9b2e-4e66-8627-32e30210249e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "id": "9d7671a0-8016-403d-aa94-aee0867f470e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1800,
        -180
      ],
      "id": "a86b25ad-2301-4b4d-8d48-5b53e20e7890",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1900,
        0
      ],
      "id": "c1104fb4-4847-4d3d-b55e-361dfafe2868",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('When chat message received').item.json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2260,
        240
      ],
      "id": "a0a34a0a-b8b4-4d54-9d54-96e60b165b7c",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2600,
        220
      ],
      "id": "d70a20b0-d64c-45ef-8049-15bab9be1660",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2260,
        400
      ],
      "id": "6bb3997e-837d-451c-80c4-fc0bda3f186f",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "name": "file_input",
        "description": "The knowledge base to answer question"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2340,
        40
      ],
      "id": "d79288c8-e1ca-4e86-a908-7e3652b78b21",
      "name": "Vector store tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        -180
      ],
      "id": "b3bb4da6-4ba2-43d3-93a4-ca4894d2aafa",
      "name": "When chat message received",
      "webhookId": "8a48749e-064c-42c1-bacf-9d1415d5e9d7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ff3aab-244d-4927-9eb9-85bfb1b10c75",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3cc1b222-9c20-481a-97a0-ee03234f7e2b",
              "name": "metadata",
              "value": "={{ $json.info }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -180
      ],
      "id": "be2b1497-b18d-411e-ab3b-2950171c29c5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1900,
        180
      ],
      "id": "75d092e0-330c-41bc-9a28-49fe86a76548",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Set Zotero-UserID": {
      "main": [
        [
          {
            "node": "Load Items in Zotero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 'Key'": {
      "main": [
        [
          {
            "node": "Get Items from Zotero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Items in Zotero": {
      "main": [
        [
          {
            "node": "Get 'Key'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items from Zotero": {
      "main": [
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector store tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector store tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector store tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Zotero-UserID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}