n8n/backup/workflows/8zgNzsdsdGnftZM6.json
{
  "name": "AI Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaa41367-a94d-417d-9e0b-784121f32ee0",
              "name": "userid",
              "value": "16178790",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "b25544b6-ffcf-45cd-9e7b-b3a25f89f84b",
      "name": "Set Zotero-UserID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd432d3-5beb-4697-a9b8-6ad59782ad26",
              "name": "pdfKey",
              "value": "={{ $json.key }}",
              "type": "string"
            },
            {
              "id": "430a02c2-5e87-45da-8e53-5744c53bd26e",
              "name": "metadata",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        0
      ],
      "id": "0f6f2461-1e5f-4012-88f6-f753e091b3f9",
      "name": "Get 'Key'",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "=https://api.zotero.org/users/{{ $json.userid }}/items?format=json&itemType=attachment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "64641565-c120-458f-889b-668b20a72317",
      "name": "Load Items in Zotero",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufjIeqz4xZ7Qa1LE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "id": "4985e9d2-fb7d-437d-aefe-5dc1956c2899",
      "name": "Extract Text from File"
    },
    {
      "parameters": {
        "url": "=https://api.zotero.org/users/{{ $('Set Zotero-UserID').item.json.userid }}/items/{{ $json.pdfKey }}/file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        0
      ],
      "id": "f527da07-55f9-4ccd-a204-b7126295e584",
      "name": "Get Items from Zotero",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufjIeqz4xZ7Qa1LE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant designed to answer a students questions based on his documents.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the question.\n\nAt all costs: use the tool called \"knowledge\" to retrieve any information from the documents that you should use to create an answer.\n\nMake sure to include the page on where you found the information in your answer.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        -740
      ],
      "id": "8f12a4b0-8510-47fe-84db-3d8fcb593d62",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        180,
        -520
      ],
      "id": "8f4b191e-9b2e-4e66-8627-32e30210249e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1540,
        220
      ],
      "id": "9d7671a0-8016-403d-aa94-aee0867f470e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Set Zotero-UserID').item.json.userid }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1660,
        0
      ],
      "id": "a86b25ad-2301-4b4d-8d48-5b53e20e7890",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1700,
        220
      ],
      "id": "c1104fb4-4847-4d3d-b55e-361dfafe2868",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "deepseek-r1:1.5b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        720,
        -320
      ],
      "id": "d70a20b0-d64c-45ef-8049-15bab9be1660",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        260,
        -220
      ],
      "id": "6bb3997e-837d-451c-80c4-fc0bda3f186f",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "name": "knowledge",
        "description": "Retrieve information from any documents."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        540,
        -540
      ],
      "id": "d79288c8-e1ca-4e86-a908-7e3652b78b21",
      "name": "Vector store tool"
    },
    {
      "parameters": {
        "chunkSize": 1024,
        "chunkOverlap": 256,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1660,
        400
      ],
      "id": "430c4fdc-2eee-4899-89c8-1944697e0afb",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6bb76a0-190f-4f0b-82d9-311eb0bdce77",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        0
      ],
      "id": "fc76edb9-f824-4a2b-b406-8df26a424e20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        -740
      ],
      "id": "c8b7db34-7455-4567-9034-f338dc8244a7",
      "name": "When chat message received",
      "webhookId": "904638c5-fa9c-4cdf-8ba4-006ab8ec4ab8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4299c713-4ae3-466a-8869-38b2c1624c75",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "16178790",
          "mode": "list",
          "cachedResultName": "16178790"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        340,
        -360
      ],
      "id": "89df16ca-c6d5-4806-9bcf-47c925226118",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    }
  ],
  "connections": {
    "Set Zotero-UserID": {
      "main": [
        [
          {
            "node": "Load Items in Zotero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 'Key'": {
      "main": [
        [
          {
            "node": "Get Items from Zotero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Items in Zotero": {
      "main": [
        [
          {
            "node": "Get 'Key'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items from Zotero": {
      "main": [
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector store tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector store tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Zotero-UserID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector store tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}